table,tr,td{
  border:2px solid #000;
  border-collapse: collapse;
}
.main{
  /* width:100%;
  background-color: #999; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
.left{
text-align:justify;

  /* width:30%;
  background-color:#2df000; */
border: 5px solid #000;
/*background-image:url()*/
k;
  margin: 5px;
  flex: 1;
   padding: 6px
   color:#000;
   background-color: #D3D3D3
}
.right{
  /* width:70%;
  background-color: #666; */
  border: 5px solid #000;
  padding: 6px
  color:#000;
  background-color: yellow;

  flex:2;
}
#name{
  color:green;
}
.left img{
  border-radius: 2px;
  border: 5px solid #c454;
}
/*media queiries*/
/* @media only screen and (min-width:1024px) and (max-width:1280px) {
  .main{
    display: flex;
    flex-direction: row;
    width:100%
  }
  .left{
    width:25%;
    background-color: #985;
  }
  .right{
    width: 75%;
    background-color: #785;
  }
}
@media only screen  and (min-width:768px) and (max-width:1024px) {
  .main{
    display: flex;
    flex-direction: row;
    width:100%
  }
  .left{
    width:25%;
    background-color: #985;
  }
  .right{
    width: 75%;
    background-color: #785;
  }

}


@media only screen and  (min-width:480px) and (max-width:768px) {
  .main{
    display: flex;
    flex-direction: row;
    width:100%
  }
  .left{
    width:25%;
  }
  .right{
    width: 75%;
    background-color: red;
  }
  }
@media only screen and (max-width:480px) {
  .main{
    display: flex;
    flex-direction: row;
    width:100%
  }
  .left{
    width:25%;
    background-color: lavender;
  }
  .right{
    width: 75%;
    background-color: green;
  }

} */
